body{
	padding: 0;
}
div.menu{
	width: 100%;
	background-color: #a30023;
}
div.menu ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
div.menu ul li{
 float: right;
}
div.menu ul li a{
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-family: sans-serif;
	display: block;
  margin: 0;
	padding: 10px 15px;
	text-align: center;
	letter-spacing: 2px;
	font-size: 15px;
}
div.menu ul li a:hover {
border-bottom: 2px solid #fff;
}
div.menu img{
	width: 130px;
	height: auto;
	margin-left: 8px;
	margin-top: 3px;
}

div.header{
	width: 100%;
	height: 600px;
	background: url("smk.jpg") no-repeat center;
	background-size: cover;
	float: left;
}

div.gelap{
	width: 100%;
	height: 600px;
	margin: 0;
	padding: 0;
	background: #000;
	opacity: 0.7;
	float: left;
}

div.header h1{
	position: absolute;
	color: #fff;
	text-align: center;
	font-size: 50px;
	font-weight: bolder;
	top: 150px;
	left: 350px;
}

div.header h1 label{
	font-size: 30px;
}

div.header h1 span{
	padding: 10px;
	border: 1px solid #fff;
	border-radius: 20px;
	font-size: 15px;
}

 div.header h1 img{
	 width:100px;
	 height: auto;
 }

 <div.about{
	 width: 100%;
	 height: 400px;
	 margin-top: 20px;
 }

 div.about .left{
	 width: 50%;
	 height: 100%;
	 text-align: right;
	 float: left;
 }

 div.about .left h1{
	 text-align: right;
	 font-size: 70px;
	 font-family: sans-serif;
	 font-weight: 15;
	 text-transform: uppercase;
   border-right: 5px solid red;
	 padding-right: 20px;
 }

 div.about span{
	 color: #d4251c;
 }

 div.about .left p{
	 text-align: right;
	 color: grey;
	 font-size: 30px;

 }

 div.about .right{
	 width: 50%;
	 height: 400px;
	 float: right;
 }

 div.about .right img{
	 width: 400px;
	 height: auto;
	 border: 10px solid #000;
	 border-radius: 20px;
	 margin-top: 100px;
	 margin-left: 100px;
 }

 div.layanan{
	 width: 100%;
	 height: 400px;
	 float: left;
	 margin-top: 40px;
 }

 div.layanan div.box{
	 width: 20%;
	 height: 350px;
	 margin: 20px;
	 float: left;
 }

 div.layanan div.box div.bunder{
	 width: 100px;
	 height: 100px;
	 border-radius: 50%;
	 background: red;
	 margin: 0 auto;
	 display: flex;
 }

 div.bunder span{
	 margin: auto;
	 font-size: 40px;
	 color: #fff;
	 text-align: center;
	 vertical-align: middle;
 }

 div.box .deskripsi{
	 color: grey;
	 font-size: 20px;
	 text-align: center;
	 margin-top: 10px;
 }

 div.box .judul{
	 color: #d4251c;
	 font-size: 18px;
	 text-align: center;
	 margin-top: 15px;
	 font-family: sans-serif;
	 font-weight: 15;
 }

 div.penghargaan{
 	width: 100%;
 	height: 600px;
 	background: url("pakhendi7.jpg") no-repeat center;
 	background-size: cover;
	margin-bottom: 20px;
	position: relative;
 	float: left;
 }
 div.penghargaan div.gelap{
	 width: 100%;
	 height: 100%;
	 float:left;
	 background: linear-gradient(to right, #000, #000, transparent, transparent);
 }

 div.penghargaan div.left{
	 width: 35%;
	 margin-top: 210px;
	 position: absolute;
	 text-align: right;
	 color: #fff;
	 border-right: 10px solid red;
	 padding-right: 20px;
	 float: left;
	 text-align: right;
 }

 div.penghargaan .left h1{
	 margin: 2px;
	 font-size: 40px;
	 text-transform: uppercase;
	 font-family: sans-serif;
 }
 div.penghargaan .left h2{
	 margin: 2px;
	 font-size: 30px;
	 font-family: sans-serif;
	 color: grey;
 }
 div.penghargaan .left h3{
	 margin: 2px;
	 font-size: 20px;
	 font-family: sans-serif;
	 font-weight: 10;
 }
 div. penghargaan left span{
	 color: red
 }

 div.penghargaan .right{
	 height: auto;
	 float: right;
	 position: absolute;
	 margin-top: 200px;
	 margin-left: 500px;
 }

 div.program{
	 width: 100%;
	 height: 400px;
	 margin-top: 40px;
	 float: left;
 }

 div.program div.box2{
	 width: 100%;
	 height: 350px;
	 margin: 20px;
	 text-align: center;
 }

 div.program div.box2 div.lingkaran{
	 width: 100px;
	 height: 100px;
	 border-radius: 50%;
	 background: red;
	 margin: 0 auto;
	 display: flex;
 }

 div.lingkaran span{
	 margin: auto;
	 font-size: 40px;
	 color: #fff;
	 text-align: center;
	 vertical-align: middle;
 }

 div.box2 p{
	 color: grey;
	 font-size: 20px;
	 text-align: center;
 }

 div.box2 h2{
	 color: #000;
	 width: 100%;
	 font-size: 50px;
	 text-transform: uppercase;
	 text-align: center;
	 margin-top: 15px;
	 font-family: sans-serif;
	 font-weight: 15;
 }

div.image .gambar{
	width: 100%;
	height: 500px;
	margin-left: 100px;
}

div.image{
	height: 540px;
	width: 100%;
	position: center;
	background: linear-gradient(white 250px, red 250px);
	background-position: center;
	margin-top: 60px;
	float: left;
}

div.image .left{
text-align: center;
color: white;
font-size: 15px;
margin-top: 15px;
font-family: arial;
float: left;
/* margin-left: 30px; */
width: 40%;
}

div.image left h3{
	text-align: center;
	font-size: 20px;
	font-weight: inherit;
	font-family: sans-serif;
}

div.image .right{
text-align: center;
color: white;
font-size: 15px;
margin-top: 15px;
font-family: arial;
float: left;
width: 50%;
/* margin-left: 200px; */
}

<div.prestasi{
	width: 100%;
	height: 400px;
	margin-top: 20px;
}

div.prestasi .left2{
	width: 50%;
	height: 100%;
	text-align: right;
	float: left;
	margin-top: 100px;
}

div.prestasi .left2 h2{
	text-align: left;
	font-size: 50px;
	margin-left: 100px;
	font-family: sans-serif;
	font-weight: 10;
	text-transform: uppercase;
	border-left: 5px solid red;
	padding-left: 20px;
}

div.prestasi .left2 p{
	text-align: left;
	color: grey;
	font-size: 20px;
	margin-left: 100px;

}

div.prestasi .right2{
	width: 50%;
	height: 400px;
	float: right;
}

div.prestasi .right2 img{
	width: 600px;
	height: 500px;
	border: 10px solid #000;
	border-radius: 20px;
	margin-top: 100px;
	margin-left: 5px;
	float: right;
	position: absolute;
}

div.bawah{
width: 100%;
height: 140px;
float: left;
background-color: red;
}

div.bawah .tulisan h3{
	text-align: left;
	font-size: 30px;
	margin-left: 100px;
	color: #fff;
	font-family: arial;
	font-weight: 5;
	margin-top: 50px;
}

div.paper{
	width: 100%;
	height: 400px;
	float: left;
	margin-top: 100px;
}

div.paper div.box2{
	width: 100%;
	height: 350px;
	margin: 20px;
	text-align: center;
}

div.paper div.box2 div.lingkaran{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: red;
	margin: 0 auto;
	display: flex;
}

div.update{
	width: 100%;
	height: 300px;
	float: left;
	background: red;
	position: relative;
}

div.update .centang{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: red;
	display: flex;
	position: absolute;
	left: 40px;
	top: -50px;
}

div.update .centang span{
	color: #fff;
	margin: auto;
	font-size: 40px;
}

div.update .left{
	width: 50%;
	height: auto;
	float: left;
}

div.update .left h1{
	margin-top: 100px;
	margin-left: 40px;
	text-transform: uppercase;
	font-family: sans-serif;
	color: #fff;
	font-size: 40px;
}

div.update .left p{
	color: #fff;
	font-size: 20px;
	margin-left: 40px;
}

div.update .right{
	width: 50%;
	height: auto;
	float: left;
	margin-top: 60px;
}

div.update .right .bunder{
	width: 100px;
	height: 100px;
	background: #fff;
	border-radius: 50%;
	margin: 20px;
	display: flex;
	float: left;
}

div.update .right .bunder span{
	font-size: 50px;
	color: red;
	margin: auto;
}

div.partner{
	margin-top: 50px;
	width: 100%;
	height: 280px;
	float: left;
}

div.partner div.foo{
	width: 100%;
	height: 350px;
	margin: 20px;
	text-align: center;
}

div.partner div.foo div.bagian{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: red;
	margin: 0 auto;
	display: flex;
}

div.bagian span{
	margin: auto;
  font-size: 40px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
}

div.foo h2{
	color: #000;
	width: 100%;
	margin-top: 15px;
	text-align: center;
	font-size: 50px;
	text-transform: uppercase;
	font-weight: 15;
	font-family: sans-serif;
}

div.foo p{
	text-align: center;
	color: grey;
	font-size: 20px;
	margin-top: 10px;
}

div.ts{
	padding-top: 5px;
	width: 100%;
	height: 20px;
	float: left;
	margin-top: 5px;
	position: relative;
}

div.ts img{
	float: center;
	margin-left: 165px;
	width: 120px;;
	height: auto;
	margin-top: 45px;
	position: relative;
}

div.footer{
	width: 100%;
	height: 400px;
	background-color: #212121;
	float: left;
	position: absolute;
	margin-top: 4000px;
}

div.footer .telkomschool{
	padding-top: 60px;
	padding-left: 200px;
	width: 20%;
	height: 250px;
	float: left;
	text-align: left;
	margin-left: 100px;
	padding-left: 20px;

}

div.telkomschool h7{
	font-size: 13px;
	font-family: sans-serif;
	color: grey;
}

div.telkomschool p{
	font-family: sans-serif;
	font-size: 17;
	color: white;
	text-transform: uppercase;
}

div.telkomschool span{
	color: grey;
	margin-right: 15px;
	font-size: 20px;
	float: left;
}

div.footer .berita{
	width: 25%;
	height: 400px;
	float: left;
}

div.berita p{
	font-family: sans-serif;
	font-size: 17;
	color: white;
	text-transform: uppercase;
	padding-top: 50px;
	padding-left: 50px;
}

div.footer .lokasi{
	width: 20%;
	height: 400px;
	float: left;
}

div.lokasi p{
	font-family: sans-serif;
	font-size: 17;
	color: white;
	text-transform: uppercase;
	padding-top: 50px;
}

div.lokasi h7{
	font-family: sans-serif;
	font-size: 13px;
	color: grey;
	padding-top: 50px;
	text-align:left;
	margin-left: 5px;
	padding-left: 5px;
}

div.lokasi span{
	color: white;
	padding-top: 2px;
	font-size: 15px;
	position: relative;
}

div.footer .instagram{
    width: 20%;
    height: 400px;
    float: left;
}
div.footer .instagram p{
    font-family: sans-serif;
    font-size: 17;
    color: white;
    text-transform: uppercase;
    padding-top: 50px;
}

div.footers{
    width: 100%;
    height: 50px;
    float: left;
    background-color:#191919;
		position: relative;
		margin-top: 4000px;
}

div.footers .left{
    width: 50%;
    height: 50px;
    float: left;
}

div.footers .left p{
    font-family: sans-serif;
    color: gray;
		font-size: 13px;
		margin-left: 60px;
		padding-left: 60px;
		margin-top: 15px;
}

div.footers .right{
    width: 50%;
    height: 50px;
    float: left;
}

div.footers .right p{
    font-family: sans-serif;
    color: gray;
    text-align: right;
    padding-right: 75px;
    text-transform: capitalize;
		font-size: 13px;
		margin-left: 60px;
		padding-left: 60px;
		margin-top: 15px;
}

div.footers .right span{
	color: red;
}
